
    * {
        font: Arial;
    }

    #contenedor {
        padding: 0.5%;
        margin: auto;
        margin-top: 10px;
    }

    header {
        position: relative;
        font-size: 25px;
        border: 0px solid #000000;
        margin: 0px;
        padding: 0px;
        height: 230px;
        width: 100%;
    }

    .logo {
        position: absolute;
        left: 30%;
        margin: 0.5%;
    }

    .busqueda {
        position: absolute;
        top: 10px;
        left: 20px;
        margin: 1px;
    }

    .registro {
        position: absolute;
        top: 10px;
        right: 20px;
        margin: 1px;
    }

    .registro p {
        line-height: 0.5em;
    }

    nav {
        position: relative;
        font-size: 22px;
        border-top: 2px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        border-radius: 10px 30px 10px 30px;
        z-index: 1;
        margin: 0px;
        height: 70px;
        width: 100%;
        background-color: rgb(94, 9, 50);
    }

    nav ul {
        list-style-type: none;
    }

    .listnav {
        width: 600px;
        margin: 10px;
    }

    .listnav>li {
        float: left;
    }

    .listnav li a {
        background-color: rgb(246, 108, 9);
        color: #fff;
        border-radius: 10px 20px 10px 20px;
        border: 2px solid white;
        text-decoration: none;
        padding: 8px 10px;
        display: block;
    }

    .listnav li a:hover {
        background-color: #c4177c;
    }

    .listnav li ul {
        display: none;
        position: absolute;
        margin-left: -40px;
        min-width: 140px;
    }

    .listnav li:hover>ul {
        display: block;
    }

    .listnav li ul li a {
        font-size: 18px;
        border: 0px solid white;
        border-bottom: 1px solid white;
        border-radius: 0px;
    }

    section {
        position: relative;
        font-size: 18px;
        float: left;
        z-index: 0;
        margin: 0px;
        padding: 1%;
        height: 1130px;
        width: 78%;
        background-color: white;
        overflow: auto;
    }

    hr{
        align-content: center; 
        border-top: 3px solid orange;
        border-radius: 5px;
        clear: left;
    }


    .mejoresPelislist li b {
        color: rgb(133, 27, 133);
        font-size: 15px;
    }

    .taquilleras {
        margin: 10px auto;
    }

    .pelicula {
        color: rgb(100, 10, 85);
        font-weight: bold;
        background-color: rgba(250, 168, 109, 0.527)
    }

    figure{
        font-size: 15px; 
    }

    td {
        padding: 2px;
        background-color: rgba(231, 218, 208, 0.904);
        text-align: center;
    }

    th {
        background-color: rgba(226, 87, 185, 0.918);
        padding: 2px;
    }

    td.posicion {
        color: rgb(255, 255, 255);
        background-color: rgba(250, 138, 58, 0.904);
    }

    .actores {
        padding: 0px;
        max-width: 300px;
        background-color: rgba(231, 218, 208, 0.904);
    }

    .formulario {
        font-size: 16px;
        margin-left: 30px;
    }

    .lista {
        margin-left: 30px;
        margin: 1px; 
        padding: 30px;
        max-width: 200px;
        background-color: rgba(226, 87, 185, 0.918);
        font-size: 18px;
        font-weight: bold;
    }

    .series2019{
        float: left;  
        margin-right:25px;  
       }

    .seriesSpain{
        float: left;  
        margin-right: 25px; 
        margin-bottom: 25px;       
    }

    .series2019 .lista ol {
        font-size: 15px;
        background-color: rgba(231, 218, 208, 0.904);
    }

    .seriesSpain .lista ul {
        font-size: 15px;
        background-color: rgba(231, 218, 208, 0.904);
    }

    .grafico{
        float: left; 
        margin-top: 120px; 
    }

    aside {
        position: relative;
        font-size: 20px;
        border: 0px solid #000000;
        float: left;
        margin: 0px;
        padding: 0.5%;
        height: 1140px;
        width: 19%;
        background-color: rgba(251, 132, 40);
    }

    .coment {
        position: absolute;
        bottom: 1px;
        margin: 4px;
    }

    footer {
        clear: both;
        position: relative;
        font-size: 19px;
        color: white;
        border: 0px solid #000000;
        border-top: 1px solid #ffffff;
        border-radius: 35px 10px 35px 10px;
        margin: 0px;
        padding: 1%;
        height: 5%;
        width: 98%;
        background-color: rgb(94, 9, 50);
    }

    .rs {
        position: absolute;
        top: 2px;
        right: 20px;
        margin: 5px;
    }

    .rs th {
        margin: 10px auto;
        background-color: currentColor;
    }

    .info {
        position: absolute;
        margin: 10px;
        top: 5px;
        left: 5px;
        font-size: 15px;
        color: white;
    }

    footer a {
        color: white;
    }
